<%- include("template/cabecera", {tituloWeb: 'Nueva Ciudad'}) %>
<div class="container">
  <h2>Añadir ciudad</h2>
  <form action="/" class="my-2" method="POST">
    <input type="number" placeholder="Id" class="form-control my-2" name="id" >
    <input
      type="text"
      placeholder="Nombre"
      class="form-control my-2"
      name="nombre"
    />
    <input
      type="number"
      placeholder="Poblacion"
      class="form-control my-2"
      name="poblacion"
    />
    <input
      type="text"
      placeholder="País"
      class="form-control my-2"
      name="pais"
    />
    <select class="form-select" aria-label="Default select example" name="continente">
      <option value="none" selected disabled>Continente</option>
      <option value="Asia">ASIA</option>
      <option value="América">AMÉRICA</option>
      <option value="África">ÁFRICA</option>
      <option value="Antártida">ANTÁRTIDA</option>
      <option value="Europa">EUROPA</option>
      <option value="Oceanía">OCEANÍA</option>
    </select>
    <input
      type="text"
      placeholder="Gentilicio"
      class="form-control my-2"
      name="gentilicio"
    />
    <button type="submit" class="btn btn-dark btn-block">Agregar</button>
  </form>
</div>
<%- include("template/footer") %>
